@Model Contact
@{
    ViewBag.Title = "Kontakt";
}

<div class="container kontakt">
    <div class="row">
        <section class="offset-by-two four columns">
            <h1>Kontakt</h1>
            @foreach (var item in Model)
            {
                <p>@Model.Name</p>
                <p>Html.raw(@Model.Adress)</p>
                <p>@Model.TLF</p>
                <p>@Model.Email</p>
                <a href="@Model.website">@Model.website</a>



            }
            @*<div>
                <p>Henrik Obsen (Obsen)</p>
                <p>Svinget 2</p>
                <p>8570 Lyngby J</p>
                <br />
                <p>Tlf: 30 23 04 86</p>
                <p>E-mail: hto@djes.dk</p>
                <br />
                <p>obsen.softsystems.dk</p>
                <a href="http://e-train.dk/">www.e-train.dk</a><br />
                <a href="http://www.softsystems.dk">www.softsystems.dk</a>
            </div>
            <div>
                <p>Kristoffer lindballe Sørensen (Uv-aben)</p>
                <p>Brendstrupgårdsvej 9 e st.2</p>
                <p>8200 Århus N</p>
                <br />
                <p>kristofferls@stofanet.dk</p>
            </div>
            <div>
                <p>dykker klub  plask</p>
                <p>Dykker assistance:</p>
                <p>Claus Boxall</p>
                <p>Tlf. 2759 6960</p>
                <p>c-box@hotmail.dk</p>
                <a href="http://plask-dyk.dk/">www.plask-dyk.dk</a>
            </div>*@
        </section>

        <section class="four columns disnone">
            <img src="~/Content/IMG/Kontakt-img2.jpg" class="u-max-full-width" />
            <img src="~/Content/IMG/Kontakt-img1.jpg" class="u-max-full-width" />
        </section>


    </div>
</div>
